{
    "extends": [
        "eslint:recommended", 
        "airbnb",
        "plugin:node/recommended"
    ],
    "rules": {
        "no-plusplus": "off",
        "no-param-reassign": "off",
        "no-multi-assign": "off",
        "no-console": "off",
        "no-bitwise": "off",
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
  }